html {
	margin: 0;
	padding: 0;
	background: #FFF;
}

body, input[name=jmeno] {
    font-family: 'Sacramento', cursive;
}

body {
	color: #4A4D4F;
	margin: 0 auto;
}

.kurva {
	font-size: 120px;
	margin-top: 80px;
	text-align: center;
}

input[name=jmeno] {
    font-size: 80px;
    width: 500px;
}
